<html>
    <head>
        <title>Flexbot</title>
        <link rel="stylesheet" href="{{ url_for('config_panel.static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div>Flexbot</div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>