{% extends 'base.html' %}

{% block content %}
<form 
    action="{{ url_for('config_panel.edit_trigger', token=token, trigger_id=trigger_id) }}"
    method="post"
    class="edit-trigger">
    {{ form.hidden_tag() }}
    {{ form.chat_id() }}
    <div>
        {{ form.expression.label }}
        {{ form.expression(size=32) }}
        {% for error in form.expression.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.answers.label }}
        {{ form.answers(size=32) }}
        {% for error in form.answers.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
        <a href="{{ url_for('config_panel.list_triggers', token=token) }}"
            class="action-buttons">
            <button>Nevermind</button>
        </a>
    </div>
</form>
{% endblock %}