{% extends 'base.html' %}

{% block content %}
<h1>Edit trigger</h1>
<form 
    action="{{ url_for('config_panel.edit_trigger', token=token, trigger_id=trigger_id) }}"
    method="post">
    {{ form.hidden_tag() }}
    {{ form.chat_id() }}
    <p>
        {{ form.expression.label }}<br>
        {{ form.expression(size=32) }}
        {% for error in form.expression.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.answers.label }}<br>
        {{ form.answers(size=32) }}
        {% for error in form.answers.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}