{% extends 'base.html' %}

{% block content %}
    {% if chat.triggers|length == 0 %}
        <p>
            There are no triggers set for the chat {{ chat.title }}.
            <mark><a href="{{ url_for('config_panel.edit_trigger', token=token) }}">Click here</a></mark> to start.
        </p>
    {% endif %}
    {% if chat.triggers|length > 0 %}
        <p>Here are the triggers set for the chat <mark>{{ chat.title }}</mark>.</p>
        <p>When someone says...</p>
        {% for trigger in chat.triggers %}
            <div class="trigger-items">
                <div class="trigger-expressions">
                    <span><strong>{{ trigger.expression }}</strong>, the bot says:</span>
                    <ul>
                        {% for answer in trigger.answers %}
                        <li>
                            - {{answer.text}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{{ url_for('config_panel.edit_trigger', trigger_id=trigger.trigger_id, token=token) }}"
                    class="action-buttons">
                    <button>Edit</button>
                </a>
                <form action="{{ url_for('config_panel.delete_trigger', trigger_id=trigger.trigger_id, token=token) }}"
                    method="post"
                    class="action-buttons">
                    <button type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
        <a href="{{ url_for('config_panel.edit_trigger', token=token) }}">
            <button>Add more</button>
        </a>
    {% endif %}
{% endblock %}