[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"
pep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
requests = "*"
uwsgi = "*"
pip = "*"
cryptography = "*"

[requires]
python_version = "3.7"
